* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*---------------------- Navbar section  ------------------------*/
.navbar_Section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
}

.navbar_Section .navbar-brand h3 {
    color: #fff;
    font-family: 'Playball', cursive;
}

.navbar_Section .navbar-brand h3 span {
    color: #feb900;
    font-size: 40px;
}

.navbar_Section .navbar-collapse .nav1 {
    display: inline-block;
    font-family: 'Lusitana', serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    position: relative;
    transition: all .4s;
}

.navbar_Section .navbar-collapse ul li a:hover .nav1 {
    color: #feb900;
}

.navbar_Section .navbar-collapse ul li a {
    position: relative;
}

.navbar_Section .navbar-collapse .active {
    color: #feb900;
}

.navbar_Section .navbar-collapse ul li .hover::before {
    content: "";
    background-color: #feb900;
    width: 70%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) rotate(0deg);
    transition: all .4s;
    opacity: 0;
}

.navbar_Section .navbar-collapse .active.hover::before {
    transform: translateX(-40%) rotate(-50deg);
    opacity: 1;
}

.navbar_Section .navbar-collapse ul li .hover:hover::before {
    transform: translateX(-40%) rotate(-50deg);
    opacity: 1;
}
.navbar_Section .dropdown-item .nav2{
    color: #000;
    transition: all .4s;
}
.navbar_Section .dropdown-item:hover{
    background-color: transparent;
}
.navbar_Section .dropdown-item:hover .nav2{
    background-color: transparent;
    color: #feb900;
}
@media screen and (max-width:992px) {
    #navbarbutton{
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        text-align: center;
    }
    .navbar_Section .navbar-collapse .nav1 {
        margin-left: 0;
    }
    .navbar_Section .navbar-collapse ul li .hover{
        display: inline-block;
    }
    .navbar_Section .navbar-collapse ul li .hover::before {
        content: "";
        background-color: #feb900;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .4s;
    }
    .navbar_Section .navbar-collapse .active.hover::before {
        transform: scaleX(1) translateX(0) rotate(0);
    }
    
    .navbar_Section .navbar-collapse ul li .hover:hover::before {
        transform: scaleX(1) translateX(0) rotate(0);
    }
}


/*---------------------- Project-Details_section ----------------------------*/
.Project_Details_section{
    padding:150px 0 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/nav1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
}

.Project_Details_section .project h2{
    font-family: 'Vollkorn', serif;
    color: #fff;
    font-size: 50px;
    margin-bottom: 0;
}
.Project_Details_section .project ul{
    list-style: none;
}
.Project_Details_section .project ul li{
    display: inline;
}
.Project_Details_section .project ul li+li::before{
    content: "/";
    color: #fff;
    padding-right: 10px;
    font-size: 20px;
}
.Project_Details_section .project ul li a{ 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    transition: all .4s;
    font-family: 'Lusitana', serif;
}
.Project_Details_section .project ul li a.active{ 
    color: #feb900;
}
.Project_Details_section .project ul li a::before {
    content: "";
    background-color: #feb900;
    width: 70%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) rotate(0deg);
    transition: all .4s;
    opacity: 0;
}
.Project_Details_section .project ul li a.active::before{ 
    transform: translateX(-50%) rotate(-50deg);
    opacity: 1;
}

.Project_Details_section .project ul li a:hover::before {
    transform: translateX(-50%) rotate(-50deg);
    opacity: 1;
}
.Project_Details_section .project ul li a:hover {
   color: #feb900;
}



/*-------------------------- Project_Details_section1 -------------------------------*/
.Project_Details_section1{
    padding: 60px 0;
}


.Project_Details_section1 .carousel-indicators .active{
    opacity: 1;
}
.Project_Details_section1 .carousel-indicators [data-bs-target] {
    background-color: #feb900;
}

.Project_Details_section1 .project1 h3{
    font-family: 'Vollkorn', serif; 
}
.Project_Details_section1 .project1 p{
    font-family: 'Lusitana', serif; 
}
.Project_Details_section1 .project1_1{
    position: relative;
    background-color: #f5f6f7;
    padding: 30px 30px 0;
}
.Project_Details_section1 .project1_1 .project1_info h5{
    margin: 0;
    font-family: 'Vollkorn', serif;
    padding-top: 13px;
}
.Project_Details_section1 .project1_1 .ico1{
    color: #feb900;
    font-size: 20px;
    vertical-align: 5px; 
    padding-right: 3px;
}
.Project_Details_section1 .project1_1 .ico2{
    color: #feb900;
    font-size: 20px;
    vertical-align: -10px;
    padding-left: 3px; 
}
.Project_Details_section1 .project1_1 .project1_info .img_1{
    width: 80px;
    border-radius: 50px;
    outline: 5px solid #fff;
    float: left;
    margin-right: 20px;
}


.Project_Details_section1 .project2 h3{
    font-family: 'Vollkorn', serif;
    position: relative;
    padding-bottom: 10px;
}
.Project_Details_section1 .project2 h3::before{
    content: "";
    background-color: #feb900;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Project_Details_section1 .project2 ul{
    list-style: none;
    padding: 0;
}
.Project_Details_section1 .project2 li{
    display: flex;
    flex-direction: column; 
    padding-bottom: 10px;  
}
.Project_Details_section1 .project2 li strong{
    text-transform: uppercase; 
    color: #838893;
}
.Project_Details_section1 .project2 li span{
    font-family: 'Lusitana', serif; 
}
.Project_Details_section1 .project2 li a{
    color: #feb900;
    font-family: 'Lusitana', serif; 
    font-weight: 600    ;
}
.Project_Details_section1 .project2 li a .btn1{
    background-color: #feb900;
    padding: 6px 30px;
    border: 2px solid #feb900;    
    color: #fff;
    border-radius: 50px;
    transition: all .4s;
    cursor: pointer;
}
.Project_Details_section1 .project2 li a .btn1:hover{
    background-color: #fff;
    color: #000;
}


/*----------------------------- footer_section ------------------------------*/
.footer_section{
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/14.jpg);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer_section .footer h4{
    color: #fff;
    font-family: 'Vollkorn', serif;
}
.footer_section .footer h6{
    color: #fff;
    font-family: 'Vollkorn', serif;
}
.footer_section .footer h6 span{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lusitana', serif;
}
.footer_section .footer .ico5{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 7px;
    border-radius: 6px;
    margin-left: 2px;
    transition: all .4s;
    cursor: pointer;
}
.footer_section .footer .ico5:hover{
    background-color: #feb900;
}

.footer_section .footer h5{
    font-family: 'Vollkorn', serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer_section .footer ul{
    padding-left: 10px;
    list-style: none;
}
.footer_section .footer ul li{
    padding-bottom: 13px;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 10px;
    transition: all .4s;
}
.footer_section .footer ul li:hover{
    color: #fff;
}



.footer_section .last_section{
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    padding-top: 30px;
    text-align: center;
}
.footer_section .last_section p{
    font-size: 15px;
    font-family: 'Lusitana', serif;
}
.footer_section .last_section p span{
    font-family: 'Vollkorn', serif;
}





