* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*---------------------- Navbar section  ------------------------*/
.navbar_Section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
}

.navbar_Section .navbar-brand h3 {
    color: #fff;
    font-family: 'Playball', cursive;
}

.navbar_Section .navbar-brand h3 span {
    color: #feb900;
    font-size: 40px;
}

.navbar_Section .navbar-collapse .nav1 {
    display: inline-block;
    font-family: 'Lusitana', serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    position: relative;
    transition: all .4s;
}

.navbar_Section .navbar-collapse ul li a:hover .nav1 {
    color: #feb900;
}

.navbar_Section .navbar-collapse ul li a {
    position: relative;
}

.navbar_Section .navbar-collapse .active {
    color: #feb900;
}

.navbar_Section .navbar-collapse ul li .hover::before {
    content: "";
    background-color: #feb900;
    width: 70%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) rotate(0deg);
    transition: all .4s;
    opacity: 0;
}

.navbar_Section .navbar-collapse .active.hover::before {
    transform: translateX(-40%) rotate(-50deg);
    opacity: 1;
}

.navbar_Section .navbar-collapse ul li .hover:hover::before {
    transform: translateX(-40%) rotate(-50deg);
    opacity: 1;
}
.navbar_Section .dropdown-item .nav2{
    color: #000;
    transition: all .4s;
}
.navbar_Section .dropdown-item:hover{
    background-color: transparent;
}
.navbar_Section .dropdown-item:hover .nav2{
    background-color: transparent;
    color: #feb900;
}
@media screen and (max-width:992px) {
    #navbarbutton{
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        text-align: center;
    }
    .navbar_Section .navbar-collapse .nav1 {
        margin-left: 0;
    }
    .navbar_Section .navbar-collapse ul li .hover{
        display: inline-block;
    }
    .navbar_Section .navbar-collapse ul li .hover::before {
        content: "";
        background-color: #feb900;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .4s;
    }
    .navbar_Section .navbar-collapse .active.hover::before {
        transform: scaleX(1) translateX(0) rotate(0);
    }
    
    .navbar_Section .navbar-collapse ul li .hover:hover::before {
        transform: scaleX(1) translateX(0) rotate(0);
    }
}

/*---------------------- Blog_Details_section ----------------------------*/
.service_section{
    padding:150px 0 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/nav1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
}

.service_section .service h2{
    font-family: 'Vollkorn', serif;
    color: #fff;
    font-size: 50px;
    margin-bottom: 0;
}
.service_section .service ul{
    list-style: none;
}
.service_section .service ul li{
    display: inline;
}
.service_section .service ul li+li::before{
    content: "/";
    color: #fff;
    padding-right: 10px;
    font-size: 20px;
}
.service_section .service ul li a{ 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    transition: all .4s;
    font-family: 'Lusitana', serif;
}
.service_section .service ul li a.active{ 
    color: #feb900;
}
.service_section .service ul li a.active::before{ 
    color: #feb900;
    transform: scaleX(1);
}
.service_section .service ul li a::before{ 
    content: "";
    background-color: #feb900;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .4s;
}
.service_section .service ul li a:hover::before{ 
    transform: scaleX(1);
}


/*---------------------------------- Services_section ----------------------------*/
.services_section {
    padding: 60px 0;
    background-color: #f5f6f7;
}

.services_section .services_1 {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.services_section .services_1 .ico1 {
    font-size: 50px;
    position: relative;
    transition: all .4s;
    z-index: 2;
}

.services_section .services_1 .ico1::after {
    content: "";
    background-color: #ebebed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 20px;
    border-radius: 50%;
    z-index: -1;
    transition: all .4s;
}

.services_section .services_1 h4 {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: all .4s;
}

.services_section .services_1 p {
    font-family: 'Lusitana', serif;
    font-size: 18px;
}

.services_section .services_1 a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    color: #feb900;
}

.services_section .services_1 a .ico2 {
    font-size: 33px;
    vertical-align: middle;
    color: #feb900;
}

.services_section .services_1:hover .ico1::after {
    background-color: #feb900;
}

.services_section .services_1:hover h4 {
    border-bottom: 4px solid #feb900;
}


/*-------------------------------- Services_section1 -------------------------------*/
.Services_section1{
    padding: 60px 0;
}

.Services_section1 .service1 h4{
    font-family: 'Playfair Display', serif;
}
.Services_section1 .service1 p{
    font-family: 'Lusitana', serif;
    font-size: 18px;
}
.Services_section1 .service1 ul{
    list-style: none;
    padding: 0;
}
.Services_section1 .service1 ul li{
    padding: 3px;
    font-family: 'Lusitana', serif; 
}
.Services_section1 .service1 ul li .ico2{
    font-size: 23px;
    color: #feb900;
    vertical-align: -3px;
}


/*----------------------------- service_section2 -----------------------------*/

.Services_section2 {
    padding: 60px 0;
    background-color: #f5f6f7;
}

.Services_section2 .img1 {
    min-height: 800px;
    background-position: center center;
    background-size: cover;
}

.Services_section2 .service2 h3 {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.Services_section2 .service2 h3::before {
    content: "";
    background-color: #feb900;
    width: 70px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Services_section2 .service2 h5 {
    font-family: 'Playfair Display', serif;
    transition: all .4s;
}
.Services_section2 .service2 p {
    font-family: 'Lusitana', serif;
    font-size: 18px;
    font-weight: 500 !important;
}

.Services_section2 .service2 .ico3 {
    width: 120px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #feb900;
    margin-right: 26px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    transition: all .4s;
}
.Services_section2 .service2_info:hover .ico3{
    background-color: #feb900;
    color: #fff;
}
.Services_section2 .service2_info:hover h5{
    color: #feb900;
}
@media screen and (max-width:992px) {
    .Services_section2 .img1 {
        min-height: 400px;
    }
}


/*----------------------------- service_section3 -----------------------------*/

.Services_section3 {
    padding: 60px 0;
}

.Services_section3 .img1 {
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Services_section3 .service3 h3 {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.Services_section3 .service3 h3::before {
    content: "";
    background-color: #feb900;
    width: 70px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Services_section3 .service3 h5 {
    font-family: 'Playfair Display', serif;
    transition: all .4s;
}
.Services_section3 .service3 p {
    font-family: 'Lusitana', serif;
    font-size: 18px;
    font-weight: 500 !important;
}

.Services_section3 .service3 .ico3 {
    width: 120px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #feb900;
    margin-right: 26px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    transition: all .4s;
}
.Services_section3 .service3_info:hover .ico3{
    background-color: #feb900;
    color: #fff;
}
.Services_section3 .service3_info:hover h5{
    color: #feb900;
}
@media screen and (max-width:992px) {
    .Services_section3 .img1 {
        min-height: 400px;
    }
}

/*---------------------------------- Testimonials_section -----------------------*/
.testimonials_section{
    background-color: #f5f6f7;
    padding: 50px 0;
}

.testimonials_section .testimonials h2 {
    font-family: 'Vollkorn', serif;
    font-size: 36px;
    position: relative;
}

.testimonials_section .testimonials h2::before {
    content: "";
    background-color: #feb900;
    width: 50px;
    height: 2px;
    display: inline-block;
    margin: 0 25px 8px 0;
}

.testimonials_section .testimonials h2::after {
    content: "";
    background-color: #feb900;
    width: 50px;
    height: 2px;
    display: inline-block;
    margin: 0 0 8px 25px;
}

.testimonials_section .testimonials p {
    width: 60%;
    margin: 0 auto;
    font-family: 'Lusitana', serif;
    font-size: 18px;
}

.testimonials_section .testimonials1{
    position: relative;
    background-color: #fff;
    padding: 30px 30px 30px 70px;
    margin-left: 50px;
}
.testimonials_section .testimonials1 img{
    position: absolute;
    top: 35px;
    left: -35px;
    width: 90px;
    outline: 5px solid #fff;
    border-radius: 6px;
}
.testimonials_section .testimonials1 h4{
    margin: 0;
    font-family: 'Vollkorn', serif;
}
.testimonials_section .testimonials1 h6{
    margin: 0;
    margin-bottom: 3px;
    font-family: 'Lusitana', serif;
}
.testimonials_section .testimonials1 .star{
    margin-bottom: 5px;
    font-size: 20px;
    color: #feb900;
}
.testimonials_section .testimonials1 p{
    margin: 0;
    font-family: 'Lusitana', serif;
}


.testimonials_section .swiper-wrapper{
    margin-bottom: 70px;
}
.testimonials_section .swiper-wrapper .ico1{       
    color: #feb900;
    vertical-align: 7px;
    padding-right: 5px;
    font-size: 23px;
}
.testimonials_section .swiper-wrapper .ico2{       
    color: #feb900;
    vertical-align: -7px;
    padding-left: 5px;
    font-size: 23px;
}

@media screen and (max-width:768px) {
    .testimonials_section .testimonials1 .star{
        margin-bottom: 5px;
        font-size: 13px;
        color: #feb900;
    }
    .testimonials_section .testimonials1{
        padding: 30px;
        margin-left: 0;
    }
    .testimonials_section .testimonials1 img{
        position: relative;
        width: 100px;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    } 
}
@media screen and (max-width:576px) {
    .testimonials_section .testimonials h2::before {
        width: 70px;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .testimonials_section .testimonials h2::after {
        display: none;
    }
}


/*----------------------------- footer_section ------------------------------*/
.footer_section{
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/14.jpg);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer_section .footer h4{
    color: #fff;
    font-family: 'Vollkorn', serif;
}
.footer_section .footer h6{
    color: #fff;
    font-family: 'Vollkorn', serif;
}
.footer_section .footer h6 span{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lusitana', serif;
}
.footer_section .footer .ico5{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 7px;
    border-radius: 6px;
    margin-left: 2px;
    transition: all .4s;
    cursor: pointer;
}
.footer_section .footer .ico5:hover{
    background-color: #feb900;
}

.footer_section .footer h5{
    font-family: 'Vollkorn', serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer_section .footer ul{
    padding-left: 10px;
    list-style: none;
}
.footer_section .footer ul li{
    padding-bottom: 13px;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 10px;
    transition: all .4s;
}
.footer_section .footer ul li:hover{
    color: #fff;
}



.footer_section .last_section{
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    padding-top: 30px;
    text-align: center;
}
.footer_section .last_section p{
    font-size: 15px;
    font-family: 'Lusitana', serif;
}
.footer_section .last_section p span{
    font-family: 'Vollkorn', serif;
}